@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  padding-block: 15px;
  padding-inline: 5px;
  height: auto !important;
}

.visible {
  background-color: red;
}

.why_choose .inner_choose .why_main ul {
  display: flex !important;
  flex-direction: row;
}

.why_choose .inner_choose .why_main ul li {
  list-style: none;
}

.why_choose .inner_choose .why_main .row .col-3 .tag-line .percentage {
  padding-left: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #288de9;
}

.why_choose .inner_choose .why_main .row .col-3 .tag-line .txt {
  padding-left: 1.2rem;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #555;
}

.why_choose .inner_choose .why_main .row .col-3 .skill {
  /* width: 16rem; */
  height: 12rem;
  position: relative;
}

.why_choose .inner_choose .why_main .row .col-3 .skill .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.why_choose .inner_choose .why_main .row .col-3 .skill .outer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* padding: 2.4rem; */
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(255, 255, 255, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.why_choose #number {
  font-weight: 600px;
  font-size: 2.4rem;
  color: #288de9;
}

.circle1 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: bar1 1.5s linear forwards;
}

.circle2 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: bar2 1.5s linear forwards;
}

.circle3 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: bar3 1.5s linear forwards;
}

.circle4 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: bar4 1.5s linear forwards;
}

.skill svg {
  position: absolute;
  top: 0;
  left: 0;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_style_one li:before {
  position: absolute;
  content: "✔";
  font-family: "icomoon";
  font-size: 18px;
  left: 0px;
  top: 0px;
  color: green;
}

.theme_btn img {
  position: absolute;
  top: 0;
  right: 10px;
}

.theme_btn:hover {
  background-color: #fff;
  color: #288de9;
}

.layer_1 {
  position: absolute;
  background-image: url(./assets/images/about-bg-2.png);
  /* background-color: red; */
  left: 0px;
  bottom: 0px;
  width: 356px;
  height: 762px;
  background-repeat: no-repeat;
}

.layer_2 {
  position: absolute;
  background-image: url(./assets/images/about-bg.png);
  right: 0px;
  top: 0px;
  width: 335px;
  height: 808px;
  background-repeat: no-repeat;
}

.image_block_2 .img {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.image_block_2 .img .aboutImg {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.experience_box {
  position: relative;
  border-radius: 10px;
  box-shadow: 20px 0px 100px 0px rgba(0, 0, 0, 0.15);
  padding: 12px;
  z-index: 1;
  background: #fff;

  animation: slideUp 1s ease-in-out infinite;
}

.experience_box h2 span {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 26px;
  font-family: var(--text-font);
  font-weight: 500;
}

.patters_with_img .pattern_img1 {
  position: absolute;
  background-image: url(./assets/images/pattern_with_img.png);
  top: 47px;
  right: 30px;
  width: 108px;
  height: 140px;
  background-repeat: no-repeat;
}

.patters_with_img .pattern_img2 {
  position: absolute;
  background-image: url(./assets/images/pattern_with_img.png);
  left: 100px;
  bottom: -20px;
  width: 108px;
  height: 140px;
  background-repeat: no-repeat;
}

.contact_card {
  position: relative;
  overflow: hidden;
}

.contact_card::before {
  position: absolute;
  content: "";
  top: 101%;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.5s ease;
  background-size: 101% 101%;
  background-color: #288de9;
  transition: all 0.4s ease-in-out !important;
  border-radius: 500px 500px 0 0;
  z-index: -2;
}

@keyframes bar1 {
  100% {
    stroke-dashoffset: 165.2;
  }
}

@keyframes bar2 {
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes bar3 {
  100% {
    stroke-dashoffset: 130;
  }
}

@keyframes bar4 {
  100% {
    stroke-dashoffset: 60;
  }
}

@keyframes slideUp {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.mask_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  mask-image: url("./assets/images/mask-banner2.png");
  -webkit-mask-image: url(./assets/images/mask-banner2.png);
  -ms-mask-image: url(./assets/images/mask-banner2.png);
  -o-mask-image: url(./assets/images/mask-banner2.png);
  -webkit-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;

  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.mask_img {
  mask-image: url("./assets/images/mask-about.svg");
  -webkit-mask-image: url(./assets/images/mask-about.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}

@layer components {
  .max-container {
    max-width: 1340px;
    margin: 0 auto;
    padding-inline: 10px;
  }

  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  .custom-shadow-2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .disorder-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .custom-underline {
    @apply relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:bg-[#CED4DA];
  }

  .form-control {
    @apply w-full rounded-[40px] text-base h-[56px] border-[#CED4DA] border px-6 py-2 placeholder:text-base;
  }

  .about_list_style {
    @apply text-base lg:text-lg font-semibold lg:mb-5 mb-2 pl-7 relative;
  }

  .experience_box_h2 {
    @apply absolute left-0 top-0 w-[94px] text-center rounded-md pt-2 pr-0 pb-2.5 pl-0 md:text-5xl text-2xl font-bold z-[1] text-[#0000fe];
  }

  .theme_btn {
    @apply relative inline-block overflow-hidden align-middle bg-[#0000fe]  font-medium text-white border-[3px] border-[#0000fe] text-center rounded-[35px] px-5 py-2 text-base md:text-xl  lg:px-5 lg:py-3 z-[1] transition-all duration-500;
  }
}
